:root {
    --strip-height: 1000px;
    --vw: 100vw;
}

body {
    margin: 0;
}

main {
    /*will-change: transform;*/
}

.root {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.strip {
    position: relative;
    display: grid;
    grid-template: 100% / 100%;
    grid-template-areas: "strip";
    text-align: center;
    border-bottom: 1px solid #000;
    height: var(--strip-height);
}

.strip[data-fixed] {
    display: grid;
}

.strip .bg {
    display: grid;
    grid-template: "media" 100% / 100%;
    grid-area: strip;
    place-self: stretch;
    place-items: center;
    overflow: hidden;
    z-index: 0;
    /*will-change: transform;*/
    /*transform: translate3d(0px, 0px, 0px);*/
}

#strip-1 .bg {
    background-image: linear-gradient(var(--angle, to right), var(--stop0-color, #fa4040) var(--stop0, 0%), var(--stop100-color, #4141fc) var(--stop100, 100%));
}

#strip-2 .bg {
    background-image: linear-gradient(var(--angle, to right), var(--stop0-color, #95ffff) var(--stop0, 0%), var(--stop100-color, #ffd600) var(--stop100, 100%));
}

#strip-3 .bg {
    background-image: linear-gradient(var(--angle, 45deg), var(--stop0-color, lightsalmon) var(--stop0, 0%), var(--stop100-color, cornflowerblue) var(--stop100, 100%));
}

#strip-4 .bg {
    background-image: linear-gradient(var(--angle, -45deg), var(--stop0-color, rebeccapurple) var(--stop0, 0%), var(--stop50-color, deeppink) var(--stop50, 50%), var(--stop100-color, rebeccapurple) var(--stop100, 100%));
}

#strip-5 .bg {
    background-image: linear-gradient(var(--angle, to bottom), var(--stop0-color, forestgreen) var(--stop0, 0%), var(--stop33-color, paleturquoise) var(--stop33, 33%), var(--stop66-color, lemonchiffon) var(--stop66, 66%), var(--stop100-color, indianred) var(--stop100, 100%));
}

#strip-6 .bg {
    background-image: linear-gradient(var(--angle, 310deg), var(--stop0-color, rgba(255, 246, 5, 1)) var(--stop0, 50%), var(--stop100-color, rgba(255, 0, 247, 1)) var(--stop100, 70%));
}

#strip-7 .bg {
    background-image: linear-gradient(var(--angle, 90deg), var(--stop0-color, rgba(5, 37, 255, 1)) var(--stop0, 20%), var(--stop50-color, rgba(255, 10, 0, 1)) var(--stop50, 50%), var(--stop100-color, rgba(229, 0, 255, 1)) var(--stop100, 80%));
}

#strip-8 .bg {
    background-image: linear-gradient(var(--angle, 180deg), var(--stop0-color, rgba(5, 243, 255, 1)) var(--stop0, 9%), var(--stop25-color, rgba(255, 237, 0, 1)) var(--stop25, 26%), var(--stop50-color, rgba(255, 10, 0, 1)) var(--stop50, 45%), var(--stop75-color, rgba(4, 228, 239, 1)) var(--stop75, 68%), var(--stop100-color, rgba(255, 224, 0, 1)) var(--stop100, 85%));
}

/*.strip .bg img {*/
/*    grid-area: media;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    min-height: var(--strip-height);*/
/*    object-fit: cover;*/
/*    will-change: transform;*/
/*    transform: translate3d(0px, 0px, 0px);*/
/*}*/

.strip[data-fixed] .bg {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0px, var(--vw), var(--strip-height), 0px);
}

.strip[data-fixed] .bg img {
    position: fixed;
    top: 0;
    left: 0;
}

.strip canvas {
    grid-area: media;
    width: 100%;
    height: 100vh;
    min-height: var(--strip-height);
    display: none;
    z-index: 1;
}

.strip[data-canvas] canvas {
    display: block;
}

.strip .content {
    grid-area: strip;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.strip[data-fixed] .content {
    position: absolute;
    top: 0;
    left: 0;
}

.strip .content p {
    padding: 2em;
    margin: 0;
    background: rgba(255, 255, 255, 0.5);
}

[data-blend="difference"] img {
    mix-blend-mode: difference;
}

[data-blend="dodge"] img {
    mix-blend-mode: color-dodge;
}

.footer {
    height: auto;
}

.dg.ac {
    z-index: 1 !important;
}
