body {
    font-family: 'Josefin Sans', 'sans-serif';
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

nav h1 {
    width: 100%;
    text-align: center;
    font-size: 4em;
}

nav h2 {
    font-size: 2.5em;
}

nav ul + h2 {
    margin-top: 2em;
}

nav ul {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0;
}

nav ul li {
    flex: 1 1 auto;
    text-align: center;
    font-size: 2em;
}
