body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', 'sans-serif';
}

main {
    display: grid;
    grid-template: repeat(5, 20%) / repeat(5, 20%);
    place-items: center;
    width: calc(100vw - 15px);
    height: calc(100vh - 15px);
    overflow: hidden;
    margin: 0;
    padding: 24px;
}

#background-wrapper {
    position: relative;
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    width: 94vw;
    height: 94vh;
    overflow: hidden;
}

#background {
    position: absolute;
    inset: 0;
    max-width: 100%;
}

#plastic {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    width: 20vw;
}

#can {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 25vw;
}

#vector {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    height: 20em;
}

#large-header {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    place-self: center;
    place-content: center;
    font-size: 6em;
}
