body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', 'sans-serif';
}

main {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    place-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#background-wrapper {
    position: relative;
    grid-column: 1 / 5;
    grid-row: 1 / 6;
    width: 94vw;
    height: 94vh;
    overflow: hidden;
}

#background {
    position: absolute;
    width: calc(100% + 300px);
    top: -150px;
    left: -150px;
}

#photo {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    width: 30vw;
}

#vector {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    height: 20em;
}

#large-header {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    place-self: center;
    place-content: center;
    font-size: 3em;
}

#small-header {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    place-self: end;
    place-content: center;
    justify-self: center;
}
